body{
    width: 100%;
    min-height: 100vh;
    background-color: #ffeae0 ;
}
.readmore{
    width: 100%;
}
.readmore h1{
    text-align: center;
    font-size: 40px;
    color: gray;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 50px;
}
.readmore h1::after{
content: "";
height: 5px;
width: 200px;
background-color: gray;
border-radius: 10px;
display: block;
margin: auto;
}
.wrapper{
    padding: 0px 60px;
    margin: 60px auto;
}
.content{
    width: 500px;
    float: left;
    text-align: left;
    padding: 0px 30px;
}
.content h2{
    color:#222
    letter-spacing:1px;

}
.content h3{
    color:#222
    letter-spacing:1px;

}
.content h4{
    color:#222
    letter-spacing:1px;
}
.content p{
    font-family: sans-serif;
    font-size: 18px;
    color: gray;
    margin-top: 20px;
}
@media screen and(max-width:768px){
    .container{
        display: flex;
        flex-direction: column;
    }
}

